time=10
rootDir=C:/Users/Atul Anand/Documents/notes/existing_automation_CLS/TestAutomationFramework-master/TestAutomationFramework-master/AutomationForAllProducts/CLOriginate/NewAutomation/src_code/objective/basicSource/
destination=C:/Users/Atul Anand/Documents/notes/existing_automation_CLS/TestAutomationFramework-master/TestAutomationFramework-master/AutomationForAllProducts/CLOriginate/NewAutomation/src_code/objective/destination/ 